{% extends '::base.html.twig' %}
{% block title %}Welcome in Le Louvre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/MDPlanning/css/styles.css') }}" />
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
            color: black;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
            <div class="row">
                <img class="col-lg-12 col-sm-12" src="{{asset('bundles/MDPlanning/img/LeLouvre.png')}}" alt="Le Louvre"/>
            </div>
            <div class="row">
                    Vous êtes sur le point de pré-réserver {{ initCommande.nbBillets }} billet(s) pour le Louvre pour la date {{ initCommande.dateReservation|date('d/m/Y') }}<br>
            </div>
        {{ form_start(form, {'method': 'POST'}) }}
                CLIENT <br>
                Nom : {{ form_widget(form.client.nom) }} <br>
                Prénom : {{ form_widget(form.client.prenom) }} <br>
                Email : {{ form_widget(form.client.email) }} <br>
                <br>
                COMMANDES <br>
                {% for commande in form.commandes %}
                -------------------------------------- <br>
                    TARIF : {{ form_widget(commande.tarif) }} <br>
                    QUANTITE: {{ form_widget(commande.quantity ) }} <br>
                    Visiteurs : <br>
                    {% for visitor in commande.visiteurs %}
                    _____________________
                        Nom : {{ form_widget(visitor.nom ) }} <br>
                        Prénom : {{ form_widget(visitor.prenom ) }} <br>
                        Date de Naissance : {{ form_widget(visitor.birthday ) }} <br>
                    {% endfor %}
                -------------------------------------- <br>
                {% endfor %}
            
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {# <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/MDPlanning/js/myEvents.js') }}"></script>#}
{% endblock %}