{% extends '::base.html.twig' %}
{% form_theme form 'OCCoreBundle:Form:date.html.twig' %}
{% block title %}Welcome in Le Louvre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/MDPlanning/css/styles.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('bundles/occore/css/styles2.css') }}" />
    {#<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
{% endblock %}

{% block body %}
    <div class="container" style="background-image: url({{asset('bundles/MDPlanning/img/LeLouvre.png')}});background-position: top;background-repeat: no-repeat;background-size:cover;">
            {{ form_start(form, {'method': 'POST'}) }}
            <aside class="row">
                    <header class="col-sm-offset-2 col-sm-8">
                            <h1>Renseigner les noms et prénoms des visiteurs.</h1>
                            <date class="col-sm-6">
                                Date programmée de la visite : {{ initCommande.dateReservation|date('d/m/Y') }}
                            </date>
                            <billets class="col-sm-6">
                                Nombre de place : {{ initCommande.nbBillets }} entrée(s)
                            </billets>
                    </header>
                    <section class="col-sm-offset-2 col-sm-8 lowPadding panel-group" id="accordion">
                        {% for commande in form.commandes %}
                                {% set XX_Tarif_Key = commande.vars.value.tarif.getTarifKey %}
                                {% set XX_description = commande.vars.value.tarif.description %}  
                                {% set XX_nBillets = commande.vars.value.tarif.nbBillets %}
                                {% set XX_Tarif_Cout = commande.vars.value.tarif.getCout %}
                                {% set XX_quantity = commande.vars.value.quantity %}
                                {% set XX_Commande_Cout = XX_Tarif_Cout * commande.vars.value.quantity %}
                                {% set XX_Commande_NbEntree = XX_nBillets * commande.vars.value.quantity %}
                                {% set XX_RequireBirthday = commande.vars.value.tarif.getRequireBirthday() %}
                                {% set I = loop.index0 %}
                                
                                {% if XX_quantity!=0 %}
                                    <div class="panel panel-default">
                                        <div class='panel-heading'>
                                            <h3  class="panel-title">Tarif {{ XX_Tarif_Key }} : {{XX_Commande_NbEntree}} entrée(s) ({{ XX_quantity }}x{{ XX_Tarif_Cout }}€ = {{XX_Commande_Cout}}€)
                                                <div class='error myhead' hidden><span class="glyphicon glyphicon-warning-sign"></span> Merci de corriger les erreurs</div>
                                            </h3>
                                            
                                        </div>
                                    </div>
                                    <article class='panel-collapse collapse in' tarif='{{ XX_Tarif_Key }}' loops='{{ I }}'>
                                        <table class = 'panel-body'>
                                            <thead>
                                                <tr>
                                                    <th>Nom <span class='error' hidden> (au moins 3 caractères)</span></th>
                                                    <th>Prénom <span class='error' hidden> (au moins 3 caractères)</span></th>
                                                    {% if XX_RequireBirthday %}
                                                        <th colspan="3">Date de naissance <myErr class='error' hidden><span class="glyphicon glyphicon-warning-sign"></myErr></th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for visitor in commande.visiteurs %}
                                                    
                                                    <tr class="visitor" birthday="{{ XX_RequireBirthday }}">
                                                        <td>
                                                            {{ form_widget(visitor.nom,{'attr': {'placeholder': 'Entrer le nom du visiteur ici','class': 'form-control'} } ) }}
                                                            <span class="glyphicon form-control-feedback"></span>
                                                        </td>
                                                        <td>
                                                            {{ form_widget(visitor.prenom,{'attr': {'placeholder': 'Entrer le prénom du visiteur ici','class': 'form-control'} } ) }}
                                                            <span class="glyphicon form-control-feedback"></span>
                                                        </td>
                                                        {% if XX_RequireBirthday %}
                                                            <td>
                                                                {{ form_widget(visitor.birthday.day,{'attr': {'class': 'form-control'} }) }}
                                                            </td>
                                                            <td>
                                                                {{ form_widget(visitor.birthday.month,{'attr': {'class': 'form-control'} }) }}
                                                            </td>
                                                            <td>
                                                                {{ form_widget(visitor.birthday.year,{'attr': {'class': 'form-control'} }) }}
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </article>
                                {% endif %}


                        {% endfor %}
                    </section>
            </aside>
            <div class="row">
                <before class='col-sm-2'>
                    <a href='{{ url('etape_1') }}'>
                    <span class="glyphicon glyphicon glyphicon glyphicon-chevron-left"></span></a>
                </before>
                <customer class="col-sm-8 lowPadding">
                    <div class="form-inline">
                        {% if form.client.nom.vars.valid==false %}
                            {% set xx_div_nom = "form-group has-error has-feedback" %}
                            {% set xx_span_nom = "glyphicon glyphicon-remove form-control-feedback" %}   
                        {% elseif form.client.nom.vars.value|length<3 %}
                            {% set xx_div_nom = "form-group has-warning has-feedback" %}
                            {% set xx_span_nom = "glyphicon glyphicon-warning-sign form-control-feedback" %}
                        {% else %}
                            {% set xx_div_nom = "form-group has-success has-feedback" %}
                            {% set xx_span_nom = "glyphicon glyphicon-ok form-control-feedback" %}
                        {% endif %}
                        <div class="col-sm-4" id="nom_client">
                            <div class="{{xx_div_nom}}">
                                <div class="input-group">
                                    <h3 class="input-group-addon">Nom</h3>
                                    {{form_widget(form.client.nom,{'attr': {'placeholder': 'Entrer votre nom ici', 'class': 'form-control'} })}}
                                    <span class="{{xx_span_nom}}"></span>
                                </div>
                                    <span class="help-block">{{ form_errors(form.client.nom) }}</span>
                            </div>
                        </div>
                        {% if form.client.prenom.vars.valid==false %}
                            {% set xx_div_prenom = "form-group has-error has-feedback" %}
                            {% set xx_span_prenom = "glyphicon glyphicon-remove form-control-feedback" %}   
                        {% elseif form.client.prenom.vars.value|length<3 %}
                            {% set xx_div_prenom = "form-group has-warning has-feedback" %}
                            {% set xx_span_prenom = "glyphicon glyphicon-warning-sign form-control-feedback" %}
                        {% else %}
                            {% set xx_div_prenom = "form-group has-success has-feedback" %}
                            {% set xx_span_prenom = "glyphicon glyphicon-ok form-control-feedback" %}
                        {% endif %}
                        <div class="col-sm-4"  id="prenom_client"">
                            <div class="{{xx_div_prenom}}">
                                <div class="input-group">
                                    <h3 class="input-group-addon">Prénom</h3>
                                    {{form_widget(form.client.prenom,{'attr': {'placeholder': 'Entrer votre prénom ici', 'class': 'form-control'} })}}
                                    <span class="{{xx_span_prenom}}"></span>
                                </div>
                                <span class="help-block">{{ form_errors(form.client.prenom) }}</span>
                            </div>
                        </div>
                        {% if form.client.email.vars.valid==false %}
                            {% set xx_div_email = "form-group has-error has-feedback" %}
                            {% set xx_span_email = "glyphicon glyphicon-remove form-control-feedback" %}   
                        {% elseif form.client.email.vars.value|length<5 %}
                            {% set xx_div_email = "form-group has-warning has-feedback" %}
                            {% set xx_span_email = "glyphicon glyphicon-warning-sign form-control-feedback" %}
                        {% else %}
                            {% set xx_div_email = "form-group has-success has-feedback" %}
                            {% set xx_span_email = "glyphicon glyphicon-ok form-control-feedback" %}
                            {% endif %}
                        <div class="col-sm-4"  id="email_client">
                            <div class="{{xx_div_email}}">
                                    <div class="input-group">
                                        <h3 class="input-group-addon">Email</h3>
                                        {{form_widget(form.client.email,{'attr': {'placeholder': 'Entrer votre email ici', 'class': 'form-control'} })}}
                                        <span class="{{xx_span_email}}"></span>
                                    </div>
                                    <span class="help-block">{{ form_errors(form.client.email) }}</span>
                            </div>
                        </div>
                    </div>
                </customer>
                <next class='col-sm-2'>
                    <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                </next>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/occore/js/events2.js') }}"></script>
    <script>

    </script>
    {# <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/MDPlanning/js/myEvents.js') }}"></script>#}
{% endblock %}