{% extends '::base.html.twig' %}
{% block title %}Welcome in Le Louvre{% endblock %}
{#
{% set prototype_commande = form.commandes.vars.prototype %}

{% macro information_prototype(commande) %}
    {{ form_widget(commande.tarif) }}
{% endmacro %}

{% macro information2_prototype(commande) %}
    {{ form_widget(commande.quantity) }}
{% endmacro %}#}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/MDPlanning/css/styles.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('bundles/occore/css/styles.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 hidden-xs hidden-sm">
                            <img src="{{asset('bundles/MDPlanning/img/LeLouvre.png')}}" alt="Le Louvre"/>
                        </div>
                    </div>
                    <div class="row">
                        <aside class="col-xm-12 col-md-5">
                            <div class="row">
                                {% for key, tarif in tarifs %}
                                        {# On Récupère si besoin les valeurs des quantités déjà réservées #}
                                    <div class='col-xs-6 col-sm-4 col-lg-3 lowPadding'>
                                        <article>
                                            <!-- Tarif -->
                                            <tarif class="col-xs-12 lowPadding">Tarif {{tarif.getTarifKey()|upper}}</tarif>
                                            <!-- Nombre de billet -->
                                            <div class="col-xs-7 lowPadding">
                                                {% if tarif.nbBillets > 1 %}
                                                    <nbillets>{{ tarif.nbBillets }} billets</nbillets>
                                                {% else %}
                                                    <nbillets>{{ tarif.nbBillets }} billet</nbillets>
                                                {% endif %}
                                            </div>
                                            <!-- Prix des billets -->
                                            <div class="col-xs-5 lowPadding">
                                                <prix>{{ tarif.cout }}<span class="glyphicon glyphicon-euro"></span></prix>
                                            </div>
                                            <!-- Description -->
                                            <div class="{#hidden-xs hidden-sm #}col-md-12 lowPadding">
                                                <desc>{{ tarif.description }}</desc>
                                            </div>
                                            <!-- info commande en cours: Nombre de personne / Tarif concerné -->
                                            <div class="col-xs-2 lowPadding">
                                                <tete><span class="glyphicon glyphicon-user"></span></tete>
                                            </div>
                                            <div class="col-xs-6 lowPadding">
                                                {% set test = false %}
                                                {% set nombre_entree = 0 %}
                                                {% for commande in commandeGlobale.getCommandes() if test == false %}
                                                        {% if commande.tarif.description == tarif.description %}
                                                                {% set test = true %}
                                                                {% set nombre_entree = commande.quantity*tarif.nbBillets %}
                                                        {% endif %}
                                                {% endfor %}
                                                <people  key="{{ tarif.getTarifKey() }}">{{nombre_entree}}</people> 
                                            </div>
                                            <!-- bouton de commande d'ajout d'un tarif -->
                                            <div class="col-xs-2 lowPadding">
                                                <plus name="plus" key="{{ tarif.getTarifKey() }}" prix="{{ tarif.cout }}" nBillets="{{ tarif.nbBillets }}"><span class="glyphicon glyphicon-plus-sign"></span></plus>
                                            </div>
                                            <!-- bouton de commande de retrait d'un tarif -->
                                            <div class="col-xs-2 lowPadding">
                                                <moins name="moins" key="{{ tarif.getTarifKey() }}" prix="{{ tarif.cout }}" nBillets="{{ tarif.nbBillets }}"><span class="glyphicon glyphicon-minus-sign"></span></moins>
                                            </div>
                                        </article>
                                    </div>
                            {% endfor %}
                        </div>
                        </aside>
                        <div class="col-md-1 hidden-xs hidden-sm"></div>
                        <section class="col-xm-12 col-md-6 lowPadding">
                                {{ form_start(form, {'method': 'POST'}) }}
                                    <div class="col-xs-12 lowPadding">
                                    <legend><span class="glyphicon glyphicon-shopping-cart"></span> VOTRE COMMANDE</legend>
                                    <div class="col-xs-12 lowPadding" hidden>Erreurs : {{ form_errors(form) }} </div>  
                                    </div>
                                        <div class="col-xs-6 lowPadding" style="height: 75px;">
                                            {{ form_row(form.dateReservation, {'class':'form-control'}) }}
                                            <p class="info">Le Louvre est fermé les samedis et dimanches.</p>
                                        </div>
                                        <div class="col-xs-6 lowPadding"  style="height: 75px;">
                                            {{ form_row(form.demiJournee, {'class':'form-control'}) }}
                                            <p class="info">Toute réservation pour la 1/2 journée courantes doit être passée avant 14h00.</p>
                                        </div>
                                        
                                    <div class="col-xs-12 lowPadding">
                                    <table>
                                        <thead>
                                            <tr>
                                                    <th width="20%">Tarif</th>
                                                    <th width="10%">Prix unitaire</th>
                                                    <th width='10%'>Quantité</th>
                                                    <th width='20%'>Total</th>
                                                    <th width='10%'>Nb de place</th>
                                            </tr>
                                        </thead>
                                        <tbody id="oc_commandebundle_CommandeGlobale_commandes" name='oc_commandebundle_CommandeGlobale[commandes]' data-prototype='<div><label class="required">__name__label__</label><div id="oc_commandebundle_CommandeGlobale_commandes___name__"><div><label for="oc_commandebundle_CommandeGlobale_commandes___name___quantity" class="required">Quantité</label><input type="number" id="oc_commandebundle_CommandeGlobale_commandes___name___quantity" name="oc_commandebundle_CommandeGlobale[commandes][__name__][quantity]" disabled="disabled" required="required" /></div><div><label for="oc_commandebundle_CommandeGlobale_commandes___name___tarif" class="required">Tarif</label><select id="oc_commandebundle_CommandeGlobale_commandes___name___tarif" name="oc_commandebundle_CommandeGlobale[commandes][__name__][tarif]" disabled="disabled" style="width:100%;">            <option value="1" >Normal</option>            <option value="2" >Senior</option>            <option value="3" >Enfant</option>            <option value="4" >Gratuit</option>            <option value="5" >Réduit</option>            <option value="6" >Famille</option></select></div></div></div>'>

                                            {% for commande in form.commandes %}
                                                {% set XX_Tarif_Key = commande.vars.value.tarif.getTarifKey %}
                                                {% set XX_nBillets = commande.vars.value.tarif.nbBillets %}
                                                {% set XX_Tarif_Cout = commande.vars.value.tarif.getCout %}
                                                {% set XX_quantity = commande.vars.value.quantity %}
                                                {% set XX_Commande_Cout = XX_Tarif_Cout * commande.vars.value.quantity %}
                                                {% set XX_Commande_NbEntree = XX_nBillets * commande.vars.value.quantity %}         
                                                <tr {% if XX_Commande_NbEntree == 0 %}
                                                        hidden
                                                    {% endif %}
                                                    id="{{ XX_Tarif_Key }}" 
                                                    prix="{{ XX_Tarif_Cout }}" 
                                                    nbBillets="{{ XX_nBillets }}" 
                                                    amount="{{ XX_Commande_Cout }}" 
                                                    place='{{XX_Commande_NbEntree}}'>
                                                {# NOM du tarif #}
                                                    <td>{{ form_widget(commande.tarif) }}</td>
                                                {# PRIX du tarif #}
                                                    <td>{{ XX_Tarif_Cout }}<span class="glyphicon glyphicon-euro"></span></td>
                                                {# QUANTITY #}
                                                    <td>{{ form_widget(commande.quantity,
                                                                {'attr': {'class': XX_Tarif_Key  }  }
                                                            ) }}</td>       
                                                {# COUT Total des billets à ce tarif#}
                                                    <td class="sous-total" id="{{ XX_Tarif_Key }}_st">{{ XX_Commande_Cout }}  <span class="glyphicon glyphicon-euro"></span></td>
                                                {# Nombre Total d'entrée #}       
                                                    <td><place id="{{ XX_Tarif_Key }}_pl"> {{ XX_Commande_NbEntree }} </place></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                                <tr>
                                                    <th colspan="3">TOTAL:</th>
                                                    <th id="total">0<span class="glyphicon glyphicon-euro"></span></th>
                                                    <th id="places">{{  form_widget( form.nbBillets, {'attr': {'class' : 'total'}}) }}</th>
                                                </tr>
                                        </tfoot>

                                    </table>
                                        </div>
                                        {{ form_row(form.Reserver, {'class':'form-control'}) }}

                                </div>
                            {{ form_end(form) }}
                </section>
                <!--<section class="col-lg-8 col-sm-12" id="calendar">
                    {#{% include 'ADesignsCalendarBundle::calendar.html.twig' %}#}
                </section>-->
                        <!--<form id="annulation">
                            <legend>ANNULATIONS</legend>
                            <label for="theDate">Date</label>
                            <input type="date" id='theDate' name='theDate' class="form-control">
                            <label for="refCommande">Référence de la commande</label>
                            <input type='text' id='refCommande' name='refCommande' class="form-control">
                                <input type='submit' value='Annuler Billet(s)'>
                        </form>-->
            </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/MDPlanning/js/myEvents.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/occore/js/events.js') }}"></script>
{% endblock %}