{% extends '::base.html.twig' %}
{% block title %}Welcome in Le Louvre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/MDPlanning/css/styles.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
            <div class="row">
                <img class="col-lg-12 col-sm-12" src="{{asset('bundles/MDPlanning/img/LeLouvre.png')}}" alt="Le Louvre"/>
            </div>
            <div class="row">
                <aside class="col-lg-4 col-sm-12">
                        <form id="reservation">
                             <legend>RESERVATIONS</legend>
                            <label for="theDate">Date</label>
                            <input type="date" id='theDate' name='theDate' class="form-control">
                            <p class="info">Le Louvre est fermé les samedis et dimanches.</p>
                            <label for="nbBillets">Nombre de place</label>
                            <input type='text' id='nbBillets' name='nbBillets' class="form-control">
                            <p class="info">Les capacités d'accueil lu Louvre sont limités à 1000 places par jour ouvrés. Merci de consulter le calendrier d'ouverture et de disponibilités ci-joint.</p>
                            <label for="demiJournee">Demi-Journée (>14h)</label>
                            <input type='checkbox' id='demiJournee' name='demiJournee' class="form-control">
                                <p class="info">Toute réservation pour la 1/2 journée courantes doit être passée avant 14h00.</p>
                                <input type='submit' value='Réserver'></input>
                        </form>
                        <form id="annulation">
                            <legend>ANNULATIONS</legend>
                            <label for="theDate">Date</label>
                            <input type="date" id='theDate' name='theDate' class="form-control">
                            <label for="refCommande">Référence de la commande</label>
                            <input type='text' id='refCommande' name='refCommande' class="form-control">
                                <input type='submit' value='Annuler Billet(s)'>
                        </form>
                </aside>
                <section class="col-lg-8 col-sm-12" id="calendar">
                    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
                </section>
            </div>
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
{% endblock %}