<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            section {
                width:600px;
                border: 3px #FF6A00 solid;
                border-radius: 10px;
                margin:0px;
                padding:0px;
                background-color : #25A694;
                background-repeat: no-repeat;
                background-size: contain;
            }
            img.qrcode {
                height:100px;
                width:120px;
                position:relative;
                float:right;
            }
            img.logo {
                position:relative;
                height:100px;
                width:120px;
                left:0px;
                top:0px; 
                border-radius:10px;
            }
            h1 {
                color: white;
                display:inline-block;
                vertical-align: top;
                margin-left:10px;
                margin-right:10px;
            }
            h3 {
                text-align: center;
                display: inline-block;
                vertical-align: top;
                float:right;
            }
            div{
                display: inline-block;
                vertical-align: top;
                height:80px;
                padding:10px;
            }
            header, article { display:block;}
        </style>
    </head>
    <body>
        <section>
            <header>
                <a href="http:/billetslelouvre.md-tools.xyz/web" class="col-sm-3 nopadding"><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/occore/img/miniLouvre.png') }}" alt="Le Louvre" class="logo"/></a>
                <h1 class="col-sm-6 nopadding"> Musée du Louvre<br>Tarif {{ tarif }} </h1>
                <h3 class="col-sm-3 nopadding">Entrée valable pour<br>
                    {% if demi_journee %}
                        l'après-midi du
                    {% else %}
                        la journée du
                    {% endif %}
                    <br><strong>{{ dateReservation|date('d/m/Y') }}</strong></h3>
            <header>
            <article>
                <div>
                    <span>Nom : <strong>{{ nom|upper }}</strong></span><br>
                    <span>Prénom : <strong>{{ prenom }}</strong></span>
                </div>
                <img src="http://qrickit.com/api/qr?d=http://billetslelouvre.md-tools.xyz/web/commande/{{ id }}/billet/{{ id_visiteur }};addtext={{ id_visiteur }}&amp;txtcolor=000000&amp;fgdcolor=FFFFFF&amp;bgdcolor=FF6A00&amp;logotext=Le+Louvre&amp;qrsize=150&amp;t=p&amp;e=m" class="qrcode"/>
            </article>
        </section>
    </body>
</html>